// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li{
    list-style:none;
}

// html{
//     background-color: #f18b403d;
// }
//
// body{
//     background-color: #f18b403d;
// }

.row.row2 {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px;
    background-color: #f18b403d;
}
